@import "reset";

body {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  background-color: black;
  margin: 0px auto;
  overflow: hidden;
}

.slider-frame {
  height: 100vh !important;
}

.slide {
  display: flex;
  align-items: center;
  position: relative;
  left:0;
  top:0;
  .author {
    display: flex;
    align-items: center;
    padding: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9998;
    .avatar {
      width: 90px;
      height: 90px;
      padding-right: 1rem;
    }
    .name, .song, .desc {
      color: white;
      text-shadow: 1px 1px 2px black;
      padding-bottom: .5rem;
    }
    .name {
      font-size: 1.7rem;
      letter-spacing: 1px;
    }
    .song {
      font-size: .7rem;
      text-transform: uppercase;
    }
    .desc {
      font-size: .8rem;
    }
  }
  .video {
    width: auto !important;
    height: 100vh !important;
    min-width: 100%;
    z-index: 9997;
  }
}